@charset "utf-8";

html {
  font-size: 20px;
}

body {
  font-size: 1rem;
}

header > div {
  width: 100%;
  margin: 0;
}

header > div h1 {
  padding: 1.1rem 0 1.2rem 1rem;
}

/* Visual */
.visual > div div.img1 {
  left: 1rem;
}

/* Reward */
.rewards > div {
  width: 100%;
  justify-content: center;
}

.info-div {
  flex-direction: column;
}

.btm {
  flex-direction: column;
}

.right {
  margin-top: 0.5rem;
  padding-left: 0;
}

.gift_btn {
  margin-left: 0;
}

.rewards_logo {
  padding-top: 6.2rem;
}

/* footer_menu */
.last_logo {
  display: none;
}

.footer_menu {
  width: 100%;
  justify-content: center;
  margin: 0;
}

.copyright {
  width: 100%;
}

.copyright_ul {
  justify-content: center;
}
