@charset "utf-8";

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
}

/* Header */
header {
  border: none;
}

header > div {
  width: 100%;
}

header > div h1 {
  padding: 0.8125rem 0 0.75rem 0.625rem;
}

header h1 img {
  width: 2.8125rem;
}

header > div nav {
  display: none;
}

header > div .spot {
  right: 1.5rem;
  top: 1rem;
}

header > div .spot i {
  display: inline-block;
  font-size: 2.5rem;
}

header .total {
  display: inline-block;
  position: absolute;
  right: 0.75rem;
  top: 1rem;
  font-size: 2.5rem;
}

header > div .spot li a {
  padding: 0;
}

header > div .spot li ~ li {
  padding-left: 1.6875rem;
}

header > div .spot li ~ li a:after {
  display: none;
}

header > div .spot li:nth-child(2),
header > div .spot li:nth-child(3),
header > div .spot li:nth-child(5) {
  display: none;
}

header .total span,
header > div .spot li span {
  position: absolute;
  left: -40000%;
}

/* Visual */

.visual > div div img {
  width: 100%;
}

.visual > div div.img1 {
  min-width: 12rem;
  width: 40%;
  left: 1rem;
}

.visual > div div.img2 {
  min-width: 12rem;
  width: 50%;
  top: 10.7rem;
}

.visual > div div.img3 {
  min-width: 12rem;
  width: 41%;
  left: 48%;
}

.visual > div div.img4 {
  left: 47%;
  min-width: 12rem;
  width: 37%;
}

/* Reward */
.rewards-2 {
  flex-direction: column;
  align-items: center;
}

.rewards_logo {
  padding-top: 0;
}

.info {
  padding: 2rem 2rem;
  background-size: cover;
}

.rewards_logo img {
  display: none;
}

.info span {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.info p {
  font-size: 0.8rem;
}

.join_btn,
.login_btn,
.gift_btn {
  font-size: 0.9rem;
}

/* Footer-menu */
.footer_menu {
  flex-direction: column;
  padding: 0;
}

.footer_menu a {
  color: #d8cdc5;
  font-size: 0.8rem;
  font-weight: 800;
  padding-right: 0rem;
}

.footer_menu li {
  background: #645952;
  padding: 0.7rem;
}

.footer_menu li:nth-child(1) {
  background: #554c46;
}

.footer_menu .last_title {
  color: #fff;
}
